body {
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    padding: 50px;
    font-size: 1.4em;
}

nav {
    text-align: center;
    background-color: aqua;
    height: 50px;
    padding-top: 20px;
}