<!--Console 1: npx ng build --watch-->
<!--Console 2: npx lite-server --baseDir="dist/project"-->




<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <!--<a class="nav-item nav-link" routerLink="/">Main</a>-->
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/education">Education</a> 
      <a class="nav-item nav-link" routerLink="/resume">Resume</a>
      <a class="nav-item nav-link" routerLink="/weather">Weather</a>
      <!--<a class="nav-item nav-link" routerLink="/chat">ChatRoom</a>-->
      <a class="nav-item nav-link" routerLink="/technologies">Technologies</a>
  </div>
</nav>
<!--https://github.com/angular/angular-cli/wiki/generate-component-->
<!--https://jasonwatmore.com/post/2019/04/29/angular-7-tutorial-part-3-add-routing-multiple-pages-->

<!--https://personal-portfolio0320.000webhostapp.com/-->
<!--https://github.com/techiediaries/angular-portfolio-->
<body>
    
    <!--npx ng generate component "name"-->
    <!-- main content container -->
    <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    </div>

</body>

<hr>

<footer>
    <p>By: Brandon Jackson</p>
</footer>