<div>
    <h1>Who Am I</h1>
    <img src="./assets/SelfImage.png" alt="Image of Myself">
    <h2>Strengths</h2>
    <p>My strengths are:</p>
    <ul>
        <li>Programming</li>
        <li>Math</li>
        <li>Physics</li>
        <li>Quick Learner</li>
        <li>Reliable</li>
    </ul>
    <h2>Technologies </h2>
    <p>My technologies are:</p>
    <ul>
        <li>Java</li>
        <li>HTML</li>
        <li>C,C++,C#</li>
        <li>ActionScript</li>
        <li>Scheme</li>
        <li>SQL</li>
        <li>Swift</li>
        <li>SourceTree</li>
        <li>Github</li>
    </ul>

    <h2>Work Experience</h2>
            <p>CSIS Tutor/Grader 2017-present</p>
            <p>Classes Tutored: CSIS 1000, 2300, 2450, 2600, 3200, 3550</p>
    <h2>Languages/ Skills</h2>
    <ul>
            <li>Java</li>
            <li>HTML</li>
            <li>C,C++,C#</li>
            <li>ActionScript</li>
            <li>Scheme</li>
            <li>SQL</li>
            <li>Swift</li>
            <li>SourceTree</li>
            <li>Github</li>
    </ul>

    <h2>Fun Facts</h2>

    <h3>Track and Field</h3>
    <p>High School 2012-2016</p>

    <h3>Cross Country</h3>
    <p>High School 2014-2016</p>

    <h3>Rocket Club</h3>
    <p>Undergraduate 2019-present</p>

    <h2>Other Hobbies</h2>
    <ul>
          <li>Hiking</li>
          <li>Running</li>
          <li>Snowboarding</li>
          <li>Boardgames/Cardgames</li>
          <li>Videogames</li>
          <li>Learning</li>
    </ul>
</div>