<div>
    <h1>Education</h1>
    <h2>BACHELOR OF SCIENCE: COMPUTER SCIENCE, 2020</h2>
    <h3>SOUTHERN UTAH UNIVERSITY – CEDAR CITY, UTAH</h3>
    <ul>
        <li>Dean’s List Every Semester</li>
        <li>GPA 3.94</li>
        <li>Minored in Mathematics, Information Systems, Physics</li>
        <li>Recipient of Merrell R. Jones Scholarship (x2)</li>
        <li>Recipient of College of Science & Engineering Majors Scholarship</li>
        <li>Member of Phi Kappa Phi</li>
    </ul>
</div>