body{
    background-color: rgb(201, 201, 201)
}

ul{
    list-style-type: none;
}

ul li{
    background-color: #6d7d8f;
    padding: 10px 0px 10px 25px;
    margin: 25px;
    border: 2px solid black;
    /*
    border-style: solid;
    border-color: black;
    border-width: 2px;
    */
}

a{
    color: rgb(4, 0, 252);
    text-decoration: none; 
}

a:visited{
    color: yellow
}

/*
* {
    padding: 0px;
    margin: 0px;
}


.cool-beans > h1{
    display: flex;
}

[id] {
    display: block;
}

div:first-child{
    color: antiquewhite;
}
*/
/*
* all elements - everything
. means class selector
nothing meanstag selector
[] means attribute selector
# means id selector
: psuedo class selector
*/