<div>
    <h2>Technologies Used</h2>

    <h5>Objectives:</h5>
    <ol>
        <li>HTML5
            <ul>
                <li>The websites are created from HTML.</li>
            </ul>
        </li>
        <li>CSS
            <ul>
                <li>The websites are formated with CSS.</li>
            </ul>
        </li>
        <li>TypeScript compilation
            <ul>
                <li>The Weather app is in TypeScript.</li>
            </ul>
        </li>
        <li>Frameworks/Libraries
            <ul>
                <li>We use Angular Frameworks</li>
            </ul>
        </li>
        <li>Node.js
            <ul>
                <li>Used npm install to get Node.js.</li>
            </ul>
        </li>
        <li>A web server
            <ul>
                <li>We have a local Webserver in dist folder. Instructions to run in app.component.html"</li>
                <li>Console 1: npx ng build --watch</li>
                <li>Console 2: npx lite-server --baseDir="dist/project"</li>
            </ul>
        </li>
        <li>Fetching Data
            <ul>
                <li>I Fetching data from https://openweathermap.org/.</li>
            </ul>
        </li>
        <li>Technologies used
            <ul>
                <li>I have a Technologies used page.</li>
            </ul>
        </li>
    </ol>

</div>