<div>
    <h3>Current Weather</h3>
    <table>
        <thead>
            <tr>
                <th class="text-center" colspan="3">Weather of the Day</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>

    <br>

    <input type="text" id="search">
    <button id="button">Search</button>
    <script></script>
</div>
