.container div:nth-child(1) {
    background-color: brown;
    height: 50px;
    order: 3;
}

.container div:nth-child(2) {
    background-color: blue;
    height: 75px;
    order: 1;
}

.container div:nth-child(3) {
    background-color: blueviolet;
    height: 150px;
    flex-grow: 3;
}

.container div:nth-child(4) {
    background-color: black;
    height: 120px;
}

.container div:nth-child(5) {
    background-color: tomato;
    height: 30px;
}

.container div:nth-child(6) {
    background-color: seagreen;
    height: 10px;
}

.container div {
    width: 50px;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
    margin: 5px;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*align-items: baseline;*/
    align-content: flex-start;
}